[submodule "themes/bento"]
	path = themes/bento
	url = https://github.com/leonardofaria/bento.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtistimson/hugo-theme-massively
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/simple-intro"]
	path = themes/simple-intro
	url = https://github.com/gangjun06/SimpleIntro
[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/tanka"]
	path = themes/tanka
	url = https://github.com/nanxstats/hugo-tanka.git
