[submodule "themes/bento"]
	path = themes/bento
	url = https://github.com/leonardofaria/bento.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtistimson/hugo-theme-massively
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/kube"]
	path = themes/kube
	url = https://github.com/jeblister/kube.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/detox"]
	path = themes/detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox
[submodule "themes/vienna"]
	path = themes/vienna
	url = https://github.com/keichi/vienna
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/simple-intro"]
	path = themes/simple-intro
	url = https://github.com/gangjun06/SimpleIntro
[submodule "themes/academia"]
	path = themes/academia
	url = git@github.com:themefisher/academia-hugo.git
[submodule "themes/persian"]
	path = themes/persian
	url = https://github.com/gethugothemes/persian-hugo
[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/alpha"]
	path = themes/alpha
	url = https://github.com/dewittn/hugo-html5up-alpha/
[submodule "themes/somrat"]
	path = themes/somrat
	url = git@github.com:somratpro/somrat.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/tanka"]
	path = themes/tanka
	url = https://github.com/nanxstats/hugo-tanka.git
